{% extends "base.html" %}
{% block title %}
Login without Facial Recognition
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block content %}
<form class="login100-form" method="post" action="login">
    <span class="login100-form-title p-b-37">
        Enter Email address
    </span>
    <br>
    <br>

    <div class="wrap-input200 validate-input m-b-16" data-validate="Email is required">
        <input class="input100" type="text" name="email" placeholder="Enter Email">
        <span class="focus-input100"></span>
    </div>
    <br>
    <br>
    <div class="container-login100-form-btn">

        <button type="submit" class="login100-form-btn">Login</button>
    </div>
</form>
{% endblock %}

